{{ define "main" }}
<!-- inser partial for header -->
{{ partial "page-header.html" .Site.Data.resource_header }}
<!-- comfortable -->
{{ partial "site-expertise.html" .Site.Data.resources.retirement_lifestyle.comfortable}}
<!-- modest -->
{{ partial "site-expertise.html" .Site.Data.resources.retirement_lifestyle.modest}}
<!-- pension -->
{{ partial "site-expertise.html" .Site.Data.resources.retirement_lifestyle.pension}}
<!-- table -->
<section class="site-blog-details">
    <div class="container">
        <div class="row">
            {{ .Content }}
        </div>
    </div>
</section>
<!-- references -->
{{ partial "references.html" .Site.Data.resources.retirement_lifestyle.references}}
{{ end }}