{{ if .enable }}
    <section class="disclaimer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="text-white"> {{ .title }} </h2>
                    </div>
                </div>
                <ul>
                {{ range .disclaimer_items }}
                    <li>
                        {{ .text | markdownify }}
                    </li>
                {{end}}
                </ul>
            </div>
        </div>
    </section>
{{ end }}