{{ with .Site.Data.home.home_info }}
    {{ if .enable }}
        <section class="site-info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto text-center">
                        <h3 class="site-counter-item-title"> {{ .content }}</h3>
                        <ul class="site-hero-content-buttons">
                            <a href="{{ .button_url | absURL }}" class="btn btn-primary">
                                <span class="btn-area">
                                    <span data-text="{{ .button_label }}">
                                    {{ .button_label }}
                                    </span>
                                </span>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
{{ end }}