{{ with .Site.Data.home_info }}
    {{ if .enable }}
        <section class="site-cta">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p> {{ .content }}</p>
                        <ul class="site-cta-buttons">
                            <a href="{{ .button_url | absURL }}" class="btn btn-primary">
                                <span class="btn-area">
                                    <span data-text="{{ .button_label }}">
                                    {{ .button_label }}
                                    </span>
                                </span>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
{{ end }}